/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
.page {
  color: var(--text-color, #F1B2CE);
  font-family: var(--font-family, 'IBM Plex Mono');
  font-size: var(--font-size, 18px);
  line-height: var(--line-height, 1.3);
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  padding: 10px;
  block-size: max(100vw, 668px);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  display: block;
  border-inline-end: 1px solid var(--menu-color, #ff0070);
  border-block-start: 1px solid var(--menu-color, #ff0070);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-end: 8px;
  inset-block-start: 20px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  display: block;
  border-inline-start: 1px solid var(--menu-color, #ff0070);
  border-block-end: 1px solid var(--menu-color, #ff0070);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.header__bulb {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-color, #ff0070);
  inset-inline-end: 36px;
  inset-block-start: 20px;
}

.header__bulb::after {
  content:'';
  display: var(--display-rec);
  border-radius: 50%;
  fill: #ff0070;
  background-color: var(--accent-color, #ff0070);
  filter: drop-shadow(0px 0px 4px var(--shadow-color));
  block-size: 9px;
  inline-size: 9px;
}

.header__theme-menu {
  margin-block-start: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-button {
  border: none;
  padding: 0px 13px;
  color: var(--menu-color, #ff0070);
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.40);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-color, #ff0070);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-color, #ff0070);
  pointer-events: none;
}

.decor-text {
  justify-self: start;
  color: var(--heading-color, #DB00FF);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  position: relative;
  align-self: start;
  max-inline-size: 364px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 10px;
}

.main__section {
  display: grid;
  gap: 20px;
}

.main__section-title {
  color: var(--title-color, #ff0070);
  font-size: var(--font-size);
}

.main__section-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-decor {
  color: var(--title-decor-color, #000028);
  font-weight: 700;
  font-size: var(--font-size);
  background-color: var(--accent-color, #ff0070);
}

.card-text-link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.card-text-link:hover {
  border-bottom: 1px solid var(--text-color, #F1B2CE);
}

.card-text-link:focus {
  outline: none;
}

.card-text-link:focus-visible {
  outline: 1px solid var(--text-color, #F1B2CE);
}

.tip {
  font-weight: 400;
 }

 .gallery {
  grid-template-rows: auto 142px 355px 237px 355px 237px;
  gap: 10px;
 }

 .gallery-image {
  inline-size: 100%;
  block-size: 100%;
}

.gallery-image-item {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  padding: 10px;
  background-image: none;
  block-size: max(100vw, 668px);
}

.footer .decor-text {
  justify-self: center;
  align-self: center;
}

@media (width >= 768px) {
  .header {
    block-size: max(100vw, 1024px);
  }

  .decor-text {
    position: relative;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    inset-inline-start: calc(-1* 10px);
  }

  .footer .decor-text {
    padding-block-start: 46px;
    padding-inline-start: 40px;
  }
  .main__section {
    grid-template-columns: 236px 1fr 1fr;
  }

  .why__so__hard .main__section-content,
  .five__tips .main__section-content {
    grid-column: 2 / 4;
  }

  .decrease__in__concentration .main__section-content {
    grid-column: span 3;
  }

  .five__tips .main__section-title {
    grid-row: span 2;
  }

  .five__tips .main__section-subtitle {
    grid-column: span 2;
  }

  .gallery .main__section-subtitle {
    grid-column: span 3;
  }

  .gallery {
    grid-template-rows: auto 192px 230px 318px;
    gap: 20px;
  }

  .gallery-image:nth-of-type(1),
  .gallery-image:nth-of-type(5) {
    grid-column: span 2;
  }

  .gallery-image:nth-of-type(2),
  .gallery-image:nth-of-type(3) {
    grid-row: span 2;
  }

  .footer {
    position: relative;
    block-size: max(100vw, 1024px);
    inset-inline-start: calc(-1*10px);
  }
}  

@media (width >= 768px) and (width < 1024px) {
    .header__theme-menu {
      padding-inline-end: 10px;
    }

    .main {
      gap: 80px;
      margin-block-start: 20px;
      margin-inline-start: 10px;
      margin-inline-end: 10px;
    }

    .header__text {
      margin-block-start: 164px;
      margin-inline-end: 10px;
    }
  }
 
@media (width >= 1024px) {
  .header {
    block-size: 100dvb;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__text {
    margin-inline-end: 10px;
    margin-block-start: 114px;
    max-inline-size: 491px;
  }

  .header__bulb {
    inset-inline-end: 30px;
    inset-block-start: 21px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .main {
    gap: 12px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    padding: 0 10px;
  }

  .main__section {
    grid-template-columns: repeat(3, 1fr);
    margin-block-start: 60px;
  }

  .decrease__in__concentration {
    margin-block-start: 70px;
  }

  .five__tips {
    row-gap: 20px;
    margin-block-start: 68px;
  }

  .decrease__in__concentration .main__section-content {
    grid-column: span 1;
    grid-row: 2 / 3;
  }

  .gallery {
    grid-template-rows: auto 260px 315px 428px;
    margin-block-start: 68px;
  }

  .gallery-image:nth-of-type(1),
  .gallery-image:nth-of-type(5) {
    grid-column: span 2;
  }

  .gallery-image:nth-of-type(2),
  .gallery-image:nth-of-type(3) {
    grid-row: span 2;
  }

  .footer {
    block-size: 100dvb;
    min-block-size: 1024px;
  }

  .footer .decor-text {
    padding-block-start: 124px;
    padding-inline-start: 40px;
  }
}

@supports (block-size: 100dvb) {
  .header {
    block-size: 100dvb;
  }
}